.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body,
p,
h1,
h2,
h3,
ul,
ol,
dl,
li,
dt,
dd,
input {
  margin: 0;
  padding: 0;
}

