/*<!-- 最新的喜报 -->*/
.bulletin{
    width: 1200px;
    margin: 36px auto;
}
.bulletin_link{
    width: 370px;
    float: left;
}
.bulletin_link >p{
    position: relative;
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    padding-bottom: 10px;
}
.bulletin_link >p span{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 4px;
    background-color: #F9D10C;
}
.bulletin_link ul{
    list-style: none;
    width: 370px;
    margin-top: 30px;
}
.bulletin_link ul li{
    position: relative;
    width: 370px;
    margin-bottom: 20px;
}
.bulletin_link ul li a{
    display: block;
    width: 100%;
}
.bulletin_link ul li a img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
}
.bulletin_link ul li a p.name{
    width: 320px;
    position: absolute;
    left: 50px;
    top: 0px;
    font-size: 18px;
    color: #000000;
}
.bulletin_link ul li a p.tuofu{
    width: 320px;
    position: absolute;
    left: 50px;
    top: 22px;
    font-size: 16px;
    color: #999999;
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
}
.bulletin_link ul li a p.tuofu span{
    position: absolute;
    right: 0;
    font-size: 14px;
    color: #D8D8D8;
}
.bulletin_bar{
    float: left;
}
.bulletin_bar ul{
    margin-left: 40px;
    margin-top: 130px;
}
.bulletin_bar ul li{
    list-style: none;
    float: left;
    margin-right: 45px;
}
.bulletin_bar ul li:last-child{
    margin-right: 0;
}
/*方案选择*/

.scheme_selection{
    width: 1920px;
    width: 100%;
    min-width: 1200px;
    background-color: #fafafa;
    margin: 50px auto;
}
.s_selection{
    width: 1200px;
    margin: 0 auto;
}
.s_selection .s_selection_title{
    text-align: center;
    font-size: 35px;
    padding: 30px 0;
}
.s_selection .s_selection_link{
    text-align: center;
    padding-bottom: 20px;
}
.s_selection .s_selection_link a{
    display: block;
    color: #000;
    font-weight: bold;
}
.s_selection ul{
    list-style: none;
}
.s_selection ul li{
    float: left;
    margin-right: 64px;
    margin-bottom: 30px;
    box-shadow: 0 0 15px 0px #d4d4d4;
}
.s_selection ul li:nth-of-type(4n){
    margin-right: 0;
}
.s_selection ul li a{
    display: block;
}
.s_selection ul li a img{
    width: 252px;
    height: 140px;
}
.s_selection ul li a p{
    text-align: center;
    padding: 10px 0;
    color: #000;
    font-weight: bold;

}

/*院校库*/

.sousuo{
    width: 1200px;
    margin: 50px auto;
    border:1px solid #dcdcdc;
}
.sousuo_header ul{
    width: 1200px;
    list-style: none;
}
.sousuo_header ul li{
    float: left;
}
.sousuo_header ul li:nth-of-type(1){
    width: 175px;
    height: 65px;
    line-height: 60px;
    padding-left: 20px;
    font-size: 30px;
    background-color: #3484ff;
    color: #fff;
}
.sousuo_header ul li:nth-of-type(2){
    position: relative;
    width: 890px;
    height: 50px;
    margin-left: 45px;
    overflow: hidden;
    margin-top: 8px;
    border:1px solid #dcdcdc;
}
.sousuo_header ul li:nth-of-type(2) input{
    position: absolute;
    left: 0;
    width: 765px;
    height: 100%;
    font-size: 24px;
    color: #dcdcdc;
    padding-left: 20px;
    border: 0;
    outline: none;
}
.sousuo_header ul li:nth-of-type(2) a{
    position: absolute;
    right: 0;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: #3484ff;
    color: #fff;
    border:1px solid #3484ff;
}
.sousuo_show .show{
    float: left;
    width: 220px;
    margin-left: 20px;
    margin-top: 20px;
}
.sousuo_show .show dl{
    transition: all .3s;
}
.sousuo_show .show dl a{
    color: #b9b9b9;
}
.sousuo_show .show dl dt{
    position: relative;
    font-size: 24px;
    font-weight: bold;
    padding: 0 0 20px 0;
    transition: all .3s;
}
.sousuo_show .show dl.active dt a{
    color: #000;
}
.sousuo_show .show dl.active dt span{
    background-color: #3484ff;
}
.sousuo_show .show dl.active dd a{
    color: #333333;
}
.sousuo_show .show dl dt span{
    display: block;
    position: absolute;
    left:0;
    bottom: 0;
    content: "";
    width: 60px;
    height: 5px;
    background-color: #b9b9b9;
    transition: all .3s;
}
.sousuo_show .show dl dd{
    padding: 3px 0;
    margin-top: 5px;
    transition: all .3s;
}
.show_data{
    float: left;
    width: 890px;
    margin-top: 20px;
}
.show_data ul{
    width:100%;
    list-style: none;
}
.show_data ul li{
    float: left;
    margin-right: 34px;
    margin-bottom: 20px;
    border: 1px solid #dcdcdc;
    box-shadow: 2px 4px 15px 1px #dcdcdc;
    cursor: pointer;
}
.show_data ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.show_data ul li:nth-of-type(4n){
    margin-right: 0;
}
.show_data ul li img{
    width: 195px;
    height: 180px;
}
.show_data ul li p{
    padding-left: 10px;
}
.show_data ul li a .school_name{
    padding-top: 15px;
    padding-bottom: 8px;
    font-weight: bold;
    color: #000;
}
.show_data ul li .school_probability{
    color: #a9a9a9;
}
.show_data ul li .school_ranking{
    font-size: 14px;
    color: #a9a9a9;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sousuo_show .show dl dd{
    position: relative;
}
.sousuo_show .show dl dd ul{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    list-style: none;
    transition: all .3s;
    background-color: #fff;
    z-index: 9998;
}
.sousuo_show .show dl dd ul li{
    padding: 5px 0;
}
.sousuo_show .show dl dd:hover ul{
    display: block;
}
.sousuo_show .show dl dd ul li a:hover{
    color: red;
}

/*视屏*/

a,
li,
i {
    text-decoration: none;
    list-style: none;
    font-style: normal;
}
.content_video {
    font-family: "微软雅黑";
    width: 1200px;
    margin: 0 auto;
}
.content_video > h3 {
    font-size: 30px;
    font-family: '黑体';
    text-align: center;
    margin: 30px;
}
.content_video .con_v {
    position: relative;
    margin-bottom: 30px;
}
.content_video .con_v .con_video {
    display: block;
    margin: 0 auto;
}
.content_video .con_v > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
}
.content_video .swi_but {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.content_video .swi_but .swiper-container {
    width: 1000px;
    margin: 0 auto;
}
.content_video .swi_but .swiper-container .swiper-wrapper {
    width: 100%;
}
.content_video .swi_but .swiper-container .swiper-wrapper .swiper-slide {
    width: 230px!important;
    height: 335px;
    margin-left: 18px;
}
.content_video .swi_but .swiper-container .swiper-wrapper .swiper-slide > ul {
    width: 190px;
    height: 225px;
    border: 1px solid #dbdbdb;
    padding: 20px;
    margin-bottom: 15px;
    position: relative;
}
.content_video .swi_but .swiper-container .swiper-wrapper .swiper-slide > ul > li:nth-of-type(1) {
    margin-bottom: 15px;
    width: 100%;
    overflow: hidden;
}
.content_video .swi_but .swiper-container .swiper-wrapper .swiper-slide > ul > li:nth-of-type(1) > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
}
.content_video .swi_but .swiper-container .swiper-wrapper .swiper-slide > ul > li:nth-of-type(1) > p {
    margin-left: 15px;
    float: left;
}
.content_video .swi_but .swiper-container .swiper-wrapper .swiper-slide > ul > li:nth-of-type(1) > p > span:nth-of-type(1) {
    display: block;
    font-size: 20px;
    font-family: '黑体';
}
.content_video .swi_but .swiper-container .swiper-wrapper .swiper-slide > ul > li:nth-of-type(1) > p > span:nth-of-type(2) {
    font-size: 12px;
    color: #7b838e;
}
.content_video .swi_but .swiper-container .swiper-wrapper .swiper-slide > ul > li:nth-of-type(2) {
    font-size: 14px;
    font-family: '黑体';
    text-indent: 2em;
    min-height: 135px;
}
.content_video .swi_but .swiper-container .swiper-wrapper .swiper-slide > ul > li:nth-of-type(3) {
    font-size: 18px;
    font-family: '黑体';
}
.content_video .swi_but .swiper-container .swiper-wrapper .swiper-slide > ul > li:nth-of-type(3) > i {
    color: red;
}
.content_video .swi_but .swiper-container .swiper-wrapper .swiper-slide > ul .video_m {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    opacity: 0;
}
.content_video .swi_but .swiper-container .swiper-wrapper .swiper-slide > ul .video_m > div {
    width: 100%;
    height: 100%;
    position: relative;
}
.content_video .swi_but .swiper-container .swiper-wrapper .swiper-slide > ul .video_m > div > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
}
.content_video .swi_but .swiper-container .swiper-wrapper .swiper-slide > a {
    display: block;
    width: 230px;
    border: 2px solid #37a4f5;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    color: #37a4f5;
    font-weight: bold;
    text-align: center;
}
.m_show {
    animation: m_show 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
}
@keyframes m_show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes m_show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes m_show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes m_show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-ms-keyframes m_show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.swiper-button-prev,
.swiper-button-next {
    background: none !important;
    width: 60px !important;
    position: relative;
    top: 35% !important;
}
