.shade{
	position: fixed;
	display: none;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 9999;
}
.shade .login{
	display: none;
	position: absolute;
	left: 50%;
	top: 140px;
	width: 426px;
	margin-left: -213px;
	background-color: #fff;
}
.shade .login .login_bg{
	width: 426px;
}
.shade .login ul {
	list-style: none;
	width: 340px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 30px;
}
.shade .login ul .name , .password{
	position: relative;
	width: 100%;
	height: 40px;
	padding-bottom: 5px;
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: 10px;
}
.shade .login ul  .name input, .password input{
	width: 100%;
	height: 40px;
	font-size: 21px;
	line-height: 27px;
	background-color: transparent;
	border: none;
	border-radius: 0;
	padding: 0;
	box-shadow: none;
	outline: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.shade .login ul  .name input+span{
	position: absolute;
	top: 100%;
	left: 0;
	display: inline-block;
	max-width: 100%;
	z-index: 0;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #d9d9d9;
}

.shade .login ul  .name span:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #FFD53E;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all .3s ease-out;
	transition: all .2s ease-out;
}
.shade .login ul  .name input:focus+span:after {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.shade .login ul  .password input+span{
	position: absolute;
	top: 100%;
	left: 0;
	display: inline-block;
	max-width: 100%;
	z-index: 0;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #d9d9d9;
}

.shade .login ul  .password span:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #FFD53E;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all .3s ease-out;
	transition: all .2s ease-out;
}
.shade .login ul  .password input:focus+span:after {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.shade .login ul li.checkbox{
	margin: 20px 0;
	font-size: 18px;
}
.shade .login ul li.checkbox input{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.shade .login ul li.button {
	margin-bottom: 20px;
}
.shade .login ul li.button input{
	width: 100%;
	height: 47px;
	line-height: 47px;
	background: rgba(255,213,62,1);
	outline: none;
	border-radius: 20px;
	font-size: 21px;
	color: #777777;
	cursor: pointer;
	border: 0;
}
.shade .login ul li.button input:hover{
	background: rgba(255,213,62,0.8);
}
.shade .login .login-delete{
	position: absolute;
	right:16px;
	top: 16px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.shade .login p{
	color: red;
	display: none;
}
.shade .register .register-delete{
	position: absolute;
	right:16px;
	top: 16px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.shade .register{
	display: none;
	position: absolute;
	left: 50%;
	top: 120px;
	width: 426px;
	margin-left: -213px;
	background-color: #fff;
}
.shade .register .login_bg{
	width: 426px;
}
.shade .register ul{
	list-style: none;
	width: 345px;
	margin:30px auto;
}
.shade .register ul li{
	position: relative;
	width: 345px;
	height: 45px;
	margin-top: 15px;

}
.shade .register ul p{
	display: none;
	margin-top: 15px;
	color: red;
}
.shade .register ul li input{
	width: 100%;
	height: 100%;
	border: 0;
	font-size: 18px;
	text-indent: 20px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	outline: none;
}
.shade .register ul li input.yanzheng{
	width: 212px;
}
.shade .register ul li span{
	background: #ffd53e;
	border-radius: 5px;
	line-height:45px;
	text-align: center;
	font-size:28px;
	color: #008000;
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	width: 130px;
	height: 45px;
	cursor: pointer;
}
.shade .register ul li span img{
	width: 130px;
	height: 45px;
}
.shade .register ul li input.verification{
	width: 232px;
}
.shade .register ul li  a{
	position: absolute;
	right: 0;
	top: 5px;
	display: block;
	width: 105px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	font-size: 14px;
	color: #4A4A4A;
	background-color: #FFD53E;
	border-radius: 5px;
}
.shade .register ul li .btn{
	width: 100%;
	height: 45px;
	line-height: 45px;
	border: 0;
	outline: none;
	background-color: #FFD53E;
	font-size: 21px;
	color: #777777;
	cursor: pointer;
	text-align: center;
}
.shade .register ul li .btn:hover{
	background: rgba(255,213,62,0.8);
}
.shade .register input:focus {
	border: 1px solid #FFD53E;
}
